<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta httpEquiv="X-UA-Compatiable" content="ie=edge"/>
        <meta name="description" content="This is a simple to do app"/>
        <title>To Do App</title>
    </head>
    <body>
        <h1>Done Items</h1>
        <div id="doneItems"></div>
        <h1>To Do Items</h1>
        <div id="pendingItems"></div>
        <input type="text" id="name" placeholder="create to do item">
        <button id="create-button" value="Send">Create</button>
    </body>
    <script>
        {{JAVASCRIPT}}
    </script>
</html>